/* Make the maximum width of the page smaller
for artistic purpose*/
@media (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}

@font-face {
  font-family: "Super";
  src: url(../fonts/Le_Super_Type_Regular.ttf);
}

@font-face {
  font-family: "Super Semibold";
  src: url(../fonts/Le_Super_Type_SemiBold.ttf);
}

body {
    margin-top: 40px;
    margin-bottom: 20px;
}

h1 {
    font-family: Super, sans-serif;
    font-size: 60px;
}

h3 {
    font-family: Super Semibold, sans-serif;
    font-size: 30px;
}

.tiles .col-md-4 {
    padding: 0px;
}

.tiles ul {
    list-style-type: none;
    margin: 0px;
    margin-left: 10px;
    padding: 0px;
}

.tiles li {
    vertical-align: top;
    height: 240px;
    
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
}

.tiles li.climbing {
    background-image: url(../image/tr_climbing.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.tiles li.wordpress {
    background-image: url(../image/tr_wordpress.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.tiles li.photo {
    background-image: url(../image/tr_photo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.tiles li.github {
    background-image: url(../image/tr_github.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.tiles li.cv {
    background-image: url(../image/tr_cv.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.tiles li.now {
    background-image: url(../image/tr_now.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.tiles li.wordpress:hover {
    background-image: url(../image/wordpress.png);
}

.tiles li.photo:hover {
    background-image: url(../image/photo.png);
}

.tiles li.climbing:hover {
    background-image: url(../image/climbing.png);
}

.tiles li.github:hover {
    background-image: url(../image/github.png);
}

.tiles li.cv:hover {
    background-image: url(../image/cv.png);
}

.tiles li.now:hover {
    background-image: url(../image/now.png);
}

@media (min-width: 1200px) {
    .tiles li {
        height: 20vw;
    }
}


/*
.tiles li:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
*/

