/* Make the maximum width of the page smaller
for artistic purpose*/
@media (min-width: 1200px) {
  .container {
    width: 900px;
  }
}

body {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
  text-align: center;
}

h1.subtitle {
    font-size: 1.5em;
    color: gray;
}

h2 {
    font-size: 200%;
    border-bottom: 1px solid #2980b9;
    padding-bottom: 0.1em;
}

#footer {
  text-align: center;
}

li {
	display: block;
}

li.el:after {
	/*Using a Bootstrap glyphicon as the bullet point*/
	content: "\e162";
	font-family: 'Glyphicons Halflings';
	font-size: 9px;
	/*float: left;*/
	margin-left: 3px;
	color: black;
}

li.tool:after {
	/*Using a Bootstrap glyphicon as the bullet point*/
	content: "\e185";
	font-family: 'Glyphicons Halflings';
	font-size: 9px;
	/*float: left;*/
	margin-left: 3px;
	color: black;
}